In [1]:
import requests
import sqlite3
conn=sqlite3.connect('example3.db')
cur=conn.cursor()
cur.execute("CREATE TABLE test2(a test, b text, c text)")

In [6]:
import numpy as np
import pandas as pd
import requests
import urllib
from bs4 import BeautifulSoup

params={'page':1}
url='https://movie.naver.com/movie/point/af/list.nhn'
res=requests.get(url,params=params)

In [7]:
navigator=BeautifulSoup(res.text,'html.parser',from_encoding='utf-8')
table=navigator.find('table',class_='list_netizen')
df_table=pd.read_html(str(table),header=0)
df_table[0]

C:\Users\jaewon\Anaconda3\lib\site-packages\bs4\__init__.py:177: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,번호,감상평,글쓴이·날짜
0,16337763,82년생 김지영 메퇘지 벌레들이 사소한걸로 여혐이니 뭐니 개판치고 다닌 결과야 그리...,rngk****19.10.28
1,16337762,82년생 김지영 이딴걸왜보냐 수준떨어져 공유는 왜나온거지 이해가안돼네 그리고 80년...,rain****19.10.28
2,16337761,더 보이 난 주인공을 이해할수가 없다... 대체 뭐가 불만이라고 별것도 아닌걸로 죽...,tsol****19.10.28
3,16337760,82년생 김지영 여기 10점박은사람들은 그냥 인간관계에서 거르세요 신고,anjs****19.10.28
4,16337759,시크릿 슈퍼스타 음 뭐라 설명하기 힘든데 감동적이면서 재밌고 인도문화가 저정도였나 ...,ckde****19.10.28
5,16337757,82년생 김지영 엄마 생각이 나 많이 울었습니다..공유 정유미 배우님들의 연기덕분에...,love****19.10.28
6,16337755,82년생 김지영 신고,seon****19.10.28
7,16337753,82년생 김지영 28년생 김지영은 안타깝지만 82년생 김지영은 그냥 남녀평등 사회아...,xodn****19.10.28
8,16337754,82년생 김지영 아무리 논리적으로 말해도 논리적으로 받아들일줄 모르는 사람들 상대로...,uri6****19.10.28
9,16337752,82년생 김지영 보는데 다들 훌쩍훌쩍 저도 같이 울었읍니다 신고,ur10****19.10.28

In [8]:

import dateutil
list_records=[]
for i, r in enumerate(table.find_all('tr')):
    for j,c in enumerate(r.find_all('td')):
        if j==0:
            record={"번호":int(c.text.strip())}
        elif j==1:
            record.update({"영화":str(c.find('a').text.strip())})
            record.update({"감상평":str(c.text.strip().split('\t')[0].split('\n')[1])})
           
    try:
        list_records.append(record)
    except:
        pass
list_records

[{'번호': 16337763,
  '영화': '82년생 김지영',
  '감상평': '메퇘지 벌레들이 사소한걸로 여혐이니 뭐니 개판치고 다닌 결과야 그리고 제발 피해자 코스프레 그만해라 혜화역서 촛불들고 쿵쾅거릴줄알지 '},
 {'번호': 16337762,
  '영화': '82년생 김지영',
  '감상평': '이딴걸왜보냐 수준떨어져 공유는 왜나온거지 이해가안돼네 그리고 80년대생 여자들이 된장녀 유행시켰잖아 '},
 {'번호': 16337761,
  '영화': '더 보이',
  '감상평': '난 주인공을 이해할수가 없다... 대체 뭐가 불만이라고 별것도 아닌걸로 죽이고 다니는지..갑자기 별이유없이 각성하고 죄없는사람들 잔인하게 죽이는것밖에 없음..주인공 완전 패륜아임 '},
 {'번호': 16337760, '영화': '82년생 김지영', '감상평': '여기 10점박은사람들은 그냥 인간관계에서 거르세요 '},
 {'번호': 16337759,
  '영화': '시크릿 슈퍼스타',
  '감상평': '음 뭐라 설명하기 힘든데 감동적이면서 재밌고 인도문화가 저정도였나 싶기도하고 82년생김지영보고 보는거라서 그런지몰라도 이건 ㄹㅇ 심도있게 잘다룬듯 감정팔이영화가 아니라 진짜 감동+꿀잼 평점 10점 준거 개오래간만이네유 '},
 {'번호': 16337757,
  '영화': '82년생 김지영',
  '감상평': '엄마 생각이 나 많이 울었습니다..공유 정유미 배우님들의 연기덕분에 온전히 집중할 수 있었습니다 결혼도 하지 않으신 배우분들이신데 역시 배우구나 했습니다 '},
 {'번호': 16337755, '영화': '82년생 김지영', '감상평': ''},
 {'번호': 16337753,
  '영화': '82년생 김지영',
  '감상평': '28년생 김지영은 안타깝지만 82년생 김지영은 그냥 남녀평등 사회아니냐.. 오히려 군대도 안갔다오는데 '},
 {'번호': 16337754,
  '영화': '82년생 김지영',
  '감상평': '아무리 논리적으로 말해도 논리적으로 받아들일줄 모르는 사람들 상대로 감정낭비 하기도 지겹고 이런 영화가 메가플렉스에서 상영된다는 것 자체에 큰 의미가 있다고 생각합니다. 응원해요 '},
 {'번호': 16337752, '영화': '82년생 김지영', '감상평': '보는데 다들 훌쩍훌쩍 저도 같이 울었읍니다 '}]

In [9]:
values=[('2222/22/22','s',2),('1111/11/11','sss',22)] 
sql_query="INSERT INTO test2 VALUES(?,?,?)"
cur.executemany(sql_query,values)

In [3]:
conn.commit()

In [12]:
cur.execute("CREATE TABLE test3(number1 text, movie1 text, content1 text)")
sql_query="INSERT INTO test3 VALUES(?,?,?)"
cur.executemany(sql_query,list_records)

ProgrammingError: Binding 1 has no name, but you supplied a dictionary (which has only names).

In [23]:
conn.commit()

In [22]:
ts=[]
for i, r in enumerate(table.find_all('tr')):
    for j,c in enumerate(r.find_all('td')):
        if j==0:
            record1=(c.text.strip())
        elif j==1:
            record2=str(c.find('a').text.strip())
            record3=str(c.text.strip().split('\t')[0].split('\n')[1])
           
    try:
        ts.append((record1,record2,record3))
        #cur.execute("INSERT INTO test1 (number, movie, content) VALUES(record1,record2,record3)")
    except:
        pass
ts

#cur.execute("CREATE TABLE test3(number1 text, movie1 text, content1 text)")
sql_query="INSERT INTO test3 VALUES(?,?,?)"
cur.executemany(sql_query,ts)