In [5]:
import urllib.request as rq
url='http://konanacademy.github.io/da/'

#data=urllib.request.urlopen(url)

req=rq.Request(url)
req.add_header('User-agent','Mozila/5.0 (compatible; MSIE 5.5; Window NT)')
data=rq.urlopen(req)
text=data.read().decode("utf-8")
print(text[:300])

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta property="og:title" content="코난아카데미" />
    <meta property="og:description" content="코난아카데미 데이터분석 기초" />
    <meta property="og:type" content="website" />
    <meta property

In [6]:
import requests
url='http://konanacademy.github.io/da/'
req=requests.get(url)
print(req.content.decode('utf-8')[:500])

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta property="og:title" content="코난아카데미" />
    <meta property="og:description" content="코난아카데미 데이터분석 기초" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://konanacademy.github.io/da" />
    <title>데이터분석 기초</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac

In [10]:
import sqlite3

In [102]:
conn=sqlite3.connect('dama/example.db')
#cur=conn.cursor()
#cur.execute("CREATE TABLE test1(Date text, Name text, Age int)")
#cur.execute("INSERT INTO test1 VALUES('20191027','hiiiii',11)")

In [18]:
cur=conn.cursor()
cur.execute("CREATE TABLE test1(Date text, Name text, Age int)")
cur.execute("INSERT INTO test1 (Date, Name, Age) VALUES('20191027','hiiiii',11)")

OperationalError: table test1 already exists

In [20]:
values=[('2222/22/22','s',2),('1111/11/11','sss',22)] 
sql_query="INSERT INTO test1 VALUES(?,?,?)"
cur.executemany(sql_query,values)

In [104]:
delete from test1

#conn.commit()
#conn.rollback()
#conn.close()

SyntaxError: invalid syntax (<ipython-input-104-f50fe049bb67>, line 1)

In [27]:
import numpy as np
import pandas as pd
import requests
import urllib
from bs4 import BeautifulSoup

In [ ]:
params=urllib.parse.urlencode({"page":1})
print(params)
#url='https://movie.naver.com/movie/bi/mi/review.nhn?code=167613?&%s' % params
url='https://movie.naver.com/movie/bi/mi/point.nhn?code=167613/html/body/div/div/div[5]'
print(url)
'''
params=urllib.parse.urlencode({"page":1})
print(params)
#url='https://movie.naver.com/movie/bi/mi/review.nhn?code=167613?&%s' % params
url='https://movie.naver.com/movie/bi/mi/point.nhn?code=167613/html/body/div/div/div[5]'
print(url)'''

In [35]:
params={'page':1}
url='https://movie.naver.com/movie/point/af/list.nhn'
res=requests.get(url,params=params)

#index_response=requests.get(url)
#print(index_response.content[1000:2000])

In [38]:
print(res.content[:1000])#.decode('euc-kr')

b'\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\r\n\t\r\n\t\r\n\r\n\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\r\n\r\n\t\r\n\t\r\n\t\r\n\r\n\t\r\n\t\r\n\t\r\n\r\n\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\t\r\n\t\t\t\r\n\t\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\r\n\t\r\n\t\r\n\t\t\r\n\t\r\n\r\n<!DOCTYPE html>\r\n<html lang="ko">\r\n<head>\r\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\r\n<meta http-equiv="X-UA-Compatible" content="IE=edge">\r\n\r\n\r\n\r\n\r\n\r\n\r\n<meta property="me2:image" content="http://imgmovie.naver.com/today/naverme/naverme_profile.jpg"/>\r\n<meta property="me2:post_tag" content="\xb3\xd7\xc0\xcc\xb9\xf6\xbf\xb5\xc8\xad "/>\r\n<meta property="me2:category1" content="\xb3\xd7\xc0\xcc\xb9\xf6\xbf\xb5\xc8\xad"/>\r\n<meta property="me2:category2" content=""/>\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\t\r\n\t\r\n\t\r\n\t\t<meta property="og:title" content="\xc6\xf2\xc1\xa1 : \xb3\xd7\xc0\xcc\xb9\xf6 \xbf\xb5\xc8\xad"/>\r\n\t\t<meta property="og:description" content="\xb3\xd7\xc6\xbc\xc1\xf0 \xc6\xf2\xc1\xa1\xb0\xfa \xb8\xae\xba\xe4 \xc1\xa4\xba\xb8 \xc1\xa6\xb0\xf8"/>\r\n\t\r\n\t\r\n\t\r\n\r\n\r\n<meta property="og:type" content="article"/>\r\n<meta property="og:url" content="https://movie.naver.com/movie/point/af/list.nhn?page=1"/>\r\n\r\n\t\r\n\t\r\n\t\t<meta property="og:image" content="http://static.naver'

In [45]:
navigator=BeautifulSoup(res.text,'html.parser',from_encoding='utf-8')
table=navigator.find('table',class_='list_netizen')
df_table=pd.read_html(str(table),header=0)
df_table[0]

,번호,감상평,글쓴이·날짜
0,16332460,82년생 김지영 괜히봤다 현실감 제로 여자가 살기얼마나 편한데 너무 거지같이 꾸며놨...,krfr****19.10.27
1,16332459,로드킬 착하게살라는 교훈말고는... 신고,danp****19.10.27
2,16332458,82년생 김지영 너무 잘봤어요 정유미 배우님 연기 최고에요 신고,wjda****19.10.27
3,16332457,"82년생 김지영 정말 많이 울었어요. 엄마 생각도 많이 났고, 저의 역할과 위치에 ...",yj_9****19.10.27
4,16332456,뺑반 조정석 악역 생각 보다 어울리고 류준열 연기 잘하고 액션과 카레이싱신 멋지고 ...,zksp****19.10.27
5,16332455,82년생 김지영 주변에 직장동료들 어린이집에 애맡기고 잘만출근하던데? 신고,lkgo****19.10.27
6,16332454,82년생 김지영 지영이가 여자도 군대를갔어야 이런 이야기가 전개안됐을텐데.... 군...,dkrt****19.10.27
7,16332453,82년생 김지영 너무편향적인 얘기.. 신고,jkh4****19.10.27
8,16332452,82년생 김지영 너무 편파적이고 재미없어요. 신고,tkrh****19.10.27
9,16332451,82년생 김지영 논란이 왜 되는건지.. 우리나라 참.. 신고,wjde****19.10.27

In [95]:
import dateutil
list_records=[]
for i, r in enumerate(table.find_all('tr')):
    for j,c in enumerate(r.find_all('td')):
        if j==0:
            record={"번호":int(c.text.strip())}
        elif j==1:
            record.update({"영화":str(c.find('a').text.strip())})
            record.update({"감상평":str(c.text.strip().split('\t')[0].split('\n')[1])})
           
    try:
        list_records.append(record)
    except:
        pass
list_records

[{'번호': 16332451, '영화': '82년생 김지영', '감상평': '82년생 김지영'},
 {'번호': 16332460,
  '영화': '82년생 김지영',
  '감상평': '괜히봤다 현실감 제로 여자가 살기얼마나 편한데 너무 거지같이 꾸며놨네 '},
 {'번호': 16332459, '영화': '로드킬', '감상평': '착하게살라는 교훈말고는... '},
 {'번호': 16332458, '영화': '82년생 김지영', '감상평': '너무 잘봤어요 정유미 배우님 연기 최고에요 '},
 {'번호': 16332457,
  '영화': '82년생 김지영',
  '감상평': '정말 많이 울었어요. 엄마 생각도 많이 났고, 저의 역할과 위치에 대해서도 다시 한 번 깊게 생각해보는 계기가 되었습니다. '},
 {'번호': 16332456,
  '영화': '뺑반',
  '감상평': '조정석 악역 생각 보다 어울리고 류준열 연기 잘하고 액션과 카레이싱신 멋지고 재미있게 봄 분노의 질주 처럼 우리나라도카레이싱신 많이 생겼으면 좋겠다 '},
 {'번호': 16332455, '영화': '82년생 김지영', '감상평': '주변에 직장동료들 어린이집에 애맡기고 잘만출근하던데? '},
 {'번호': 16332454,
  '영화': '82년생 김지영',
  '감상평': '지영이가 여자도 군대를갔어야 이런 이야기가 전개안됐을텐데.... 군대에서100% 자살해서 이야기끝났을테니까ㅋㅋㅋ 슈퍼한남 공유는 밖에서 가족먹여살리려고 개처럼 일하고 집에선 집안일돕고 병걸린아내 비위맞춰주면서도 우울증안걸리는데 지영이는 백수처럼 쉬면서 명절하루 음식하고 설거지하기, 자기가낳은 애기 하나 키우는거로 우울증+귀신들릴정도로 열등한 한녀임을 보여줌. (현실에서 직장다닐땐 한녀들 누구보다 꿀빨길원하면서 애낳으면 일하고싶어서 금단현상까지오는 개구라판타지는 덤) '},
 {'번호': 16332453, '영화': '82년생 김지영', '감상평': '너무편향적인 얘기.. '},
 {'번호': 16332452, '영화': '82년생 김지영', '감상평': '너무 편파적이고 재미없어요. '},
 {'번호': 16332451, '영화': '82년생 김지영', '감상평': '논란이 왜 되는건지.. 우리나라 참.. '}]