In [25]:

import pandas as pd
xlfile='/Users\jaewon\Desktop\dbscore.xlsx'
df=pd.read_excel(xlfile)
a=df.loc[:,['출석','과제','기말시험','중간시험','성적']]
b=df.loc[0:3,['출석','과제','기말시험','중간시험','성적']]

a['성적']=0
for i in a.columns.values[0:4]:
    a['성적']+=df[i] #출석, 과제, 기말, 중간을 더해서 성적에 저장

for i in a.columns.values:
    b.loc[0,i]=a[i].mean()
    b.loc[1,i]=a[i].median()
    b.loc[2,i]=a[i].std()

b[0:3]

         출석         과제       기말시험       중간시험         성적
0  7.804130  18.291522  14.148370  23.560978  63.805000
1  8.000000  19.370000  13.650000  24.500000  67.375000
2  0.350573   2.776342   7.782639   7.937138  15.122755